<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value=""/>
        <env name="APP_SHARE_DIR" value="var/share"/>
        <!-- ###- symfony/framework-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="SwaggerBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>

    <coverage includeUncoveredFiles="false">
    </coverage>
</phpunit>
